@import url('https://fonts.googleapis.com/css2?family=Bricolage+Grotesque:opsz,wght@12..96,200..800&family=Poppins:wght@300;400;500;600;700&display=swap');

html {
    scroll-behavior: smooth;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.hero{
    width: 100%;
    height: 100vh;
    position: relative;
    padding: 0 5%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(28, 33, 43, 0.5);
}

.content{
    display: flex;
    position: absolute;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.content h1{
    margin-bottom: 32px;
    color: azure;
    font-family: "Bricolage Grotesque", sans-serif;
    font-weight: 800;
    font-size: 85px;
    line-height: 1.1;
}

.color-secondary-2{
    color: #f0c79f;
}

.back-video{
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transform: translate(-50%, -50%);
    z-index: -1;
    background-color: rgba(28, 33, 43, 0.5);
}

.landing-2-hero-bottom {
    position: absolute;
    bottom: 80px;
    display: flex;
    width: 100%;
    max-width: 1360px;
    margin: 0 auto;
    padding: 0 40px;
    justify-content: space-between;
    align-items: center;
}

.landing-2-hero-bottom div{
    color: #f7f4f2;
    font-family: Prodigysans, sans-serif;
    font-size: 18px;
    line-height: 1.6;
}

.scroll{
    bottom: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: 480px;
}

.scroll1{
    font-size: 40px;
    font-weight: 100;
    border: 3px solid;
    border-radius: 100%;
    margin: 20px;
    padding: 10px;
    color: #fff;
    transition: 0.3s;
}

.scroll2{
    font-size: 20px;
    font-weight: 100;
    border: 2px solid;
    border-radius: 100%;
    margin: 20px;
    padding: 10px;
    color: #fff;
    transition: 0.3s;
}

.scroll1:hover,
.scroll2:hover{
    color: #fff;
    background-color: #f0c79f;
    border-color: #f0c79f;
    transform: scale(1.2);
    transition: 0.3s;
}

.section-title {
    display: flex;
    align-items: center;
    text-align: center;
    padding: 80px 40px;
    background-color: #1c212b;
    color: #fff;
    font-family: "Bricolage Grotesque", sans-serif;
}

.section-title h2 {
    margin: 0 15px;
    font-size: 3rem;
    font-weight: 600;
    color: #fff;
}

.section-title .line {
    flex-grow: 0.8;
    height: 3px;
    background-color: #89725b;
}

.list{
    padding: 15px 0 80px;
    background-color: #1c212b;
}

.property-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    max-width: 1200px;
    margin: 0 auto;
    grid-row-gap: 60px;
    grid-column-gap: 60px;
}

.property-card {
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    padding-bottom: 40px;
    transform: scale(1.05);
}

.property-card img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    z-index: 1;
}

.property-price {
    background-color: #89725b;
    color: white;
    padding: 9px 24px 9px 32px;
    font-family: "Bricolage Grotesque", sans-serif;
    font-size: 20px;
    font-weight: 800;
    max-width: 165.95px;
    position: relative;
    top: -46px;
    z-index: 2;
}

.property-card h3 {
    margin: 5px 0;
    font-family: "Bricolage Grotesque", sans-serif;
    font-weight: 400;
    font-size: 1.3rem;
    margin-left: 20px;
}

.property-card p {
    margin: 0 0 10px ;
    font-family: "Bricolage Grotesque", sans-serif;
    color: #666;
    padding-left: 20px;
    font-weight: 400;
}

.property-details {
    display: flex;
    justify-content: flex-start;
    padding-left: 10px;
    gap: 6px;
    color: #b3a994;
}

.property-details span {
    display: flex;
    align-items: center;
    font-size: 1.1rem;
    margin: 0 12px;
}

.property-details i{
    margin: 0 8px 0 0;
}

.partners-section {
    text-align: center;
    padding: 40px 20px;
    background-color: #f7f4f2;
}

.partners-title {
    color: #a18d7f;
    font-size: 18px;
    margin-bottom: 40px;
    font-family: "Bricolage Grotesque", sans-serif;
}

.partners-logos {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 40px;
    justify-items: center;
    align-items: center;
    padding-left: 280px;
    padding-right: 280px;
}

.partners-logos img {
    max-width: 100%;
    max-height: 30px;
    object-fit: contain;
}

.container-test{
    max-width: 1170px;
    margin: auto;
    padding: 0 15px;
}

.section-header{
    text-align: center;
    margin-bottom: 50px;
}

.section-header .title{
    font-size: 35px;
    font-weight: 600;
    text-transform: capitalize;
    color: #1c212b;
    line-height: 1.2;
}

.testimonials{
   background-color: #f7f4f2;
}

.testimonials-item{
    background-color: #fff;
    padding: 30px;
    border-radius: 30px;
}

.testimonials-item .info{
    display: flex;
    align-items: center;
}

.testimonials-item img{
    max-width: 80px;
    border-radius: 50%;
    margin-right: 20px;
    vertical-align: middle;
}

.testimonials-item .name{
    font-size: 22px;
    font-family: "Bricolage Grotesque", sans-serif;
    text-transform: capitalize;
    font-weight: 600;
    color: grey;
    line-height: 1.2;
}

.testimonials-item .job{
    text-transform: capitalize;
    color: #1c212b;
}

.testimonials-item p{
    margin-top: 20px;
    font-family: "Bricolage Grotesque", sans-serif;
    font-size: 32px;
    line-height: 1.1;
    font-weight: 800;
    color: black;
}

.testimonials-item .rating{
    margin-top: 15px;
    font-size: 14px;
    color: #89725b;
}

.testimonials .swiper-pagination{
    position: relative;
    margin-top: 40px;
    bottom: auto;
}

.testimonials .swiper-pagination-bullet{
    height: 17px;
    width: 17px;
    background-color: #f0c79f;
}

.section.footer{
    padding-top: 0px;
    padding-bottom: 0px;
    background-color: #1c212b;
    color: #fff;
}

.grid-quarters{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr;
}

.grid-quarters.footer-photos{
    grid-column-gap: 0px;
    grid-row-gap: 0px;
}

.grid-quarters.footer-photos img{
    max-width: 100%;
    vertical-align: middle;
    display: inline-block;
}

.footer {
    text-align: center;
    color: #fff;
}

.footer-top {
    margin-bottom: 40px;
    align-items: center;
}

.footer-logo {
    display: flex;
    width: 100%;
    justify-content: center;
    font-size: 2rem;
    font-weight: bold;
    color: #fff;
    text-decoration: none;
    margin-bottom: 20px;
}

.footer-logo img{
    margin-top: 60px;
    display: flex;
    width: 30%;
    margin-left: 23.40%;
}

.footer-button {
    font-family: "Bricolage Grotesque", sans-serif;;
    background-color: #89725b;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 30px;
    font-size: 1rem;
    cursor: pointer;
    margin-top: 20px;
    display: inline-block;
    transition: 0.3s;
}

.footer-button:hover{
    background-color: #ba9e81;
    transform: scale(1.2);
    transition: 0.3s;
}

.footer-middle {
    margin-bottom: 40px;
}

.footer-links {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    gap: 20px;
}

.footer-links li a {
    color: #fff;
    text-decoration: none;
    font-size: 0.9rem;
}

.footer-bottom {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.footer-bottom p {
    margin: 0;
    font-size: 0.8rem;
    color: #666;
}

.footer-social {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    gap: 20px;
}

.footer-social li a {
    color: #fff;
    text-decoration: none;
    font-size: 0.9rem;
}

.footer-top .margin-bottom-0{
    font-size: 72px;
    font-family: "Bricolage Grotesque", sans-serif;
}

.navbar{
    background-color: #fff;
    height: 80px;
    margin: 20px;
    margin-top: 20px;
    border-radius: 16px;
    padding: 0.5rem;
    overflow: hidden;
    position: fixed;
}

.navbar-nav {
    margin: 0 auto; /* Center the navbar */
    display: flex;
    width: 100%;
}
.nav-item {
    margin: 0 30px; /* Adjust the margin for spacing between items */
}

.navbar-toggler{
    border: none;
    font-size: 1.25rem;
}

.navbar-toggler:focus, .btn-close:focus {
    box-shadow: none;
    outline: none;
}

.nav-link{
    color: #666777;
    font-size: 1.25rem;
    font-weight: 500;
    font-family: "Bricolage Grotesque", sans-serif;
    position: relative;
}

.nav-link:hover , .nav-link.active{
    color: #000;
}

@media (min-width: 991px){
    .nav-link::before{
        content: "";
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
        width: 0;
        height: 2px;
        background-color: #f0c79f;
        visibility: hidden;
        transition: 0.3s ease-in-out;
    }

    .nav-link:hover::before, .nav-link.active::before{
        width: 100%;
        visibility: visible;   
    }
}

.map{
    background-color: #f7f4f2;
    padding: 20px 20px;
    overflow: hidden;
}

.map h2{
    background-color: #f7f4f2;
    color: #1c212b;
}

.map .line{
    border-color: #f7f4f2;
}

iframe{
    width: 100%;
    margin: 0;
    overflow: none;
    border-radius: 40px;
    background-color: #1c212b;
}

/* Media Queries for Responsiveness */

/* Mobile View */
@media screen and (max-width: 767px) {
    
    *{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }
    .content h1 {
        font-size: 48px;
        line-height: 1.2;
    }

    .scroll{
        display: none;
    }
    .property-grid {
        grid-template-columns: 1fr;
        gap: 20px;
        overflow: hidden;
    }

    .property-card{
        transform: scale(0.9);
    }

    .partners-logos {
        grid-template-columns: repeat(2, 1fr);
        padding-left: 20px;
        padding-right: 20px;
    }

    .grid-quarters {
        grid-template-columns: 1fr;
    }

    .map{
        overflow: hidden;
    }

    .map iframes{
        display: inline;
        overflow: hidden;
        width: 100%;
    }

    .footer-top .margin-bottom-0 {
        font-size: 50px;
    }

    .footer-logo{
        margin-left: 15%;
    }
    
    .footer-logo img {
        display: none;
        width: 70%;
        overflow: hidden;    
    }
}

/* Tablet View */
@media screen and (min-width: 768px) and (max-width: 991px) {
    .noa{
        display: none;
    }
    
    .content h1 {
        font-size: 64px;
    }

    .property-grid {
        grid-template-columns: repeat(2, 1fr);
        gap: 1px;
        overflow: hidden;
    }

    .partners-logos {
        grid-template-columns: repeat(3, 1fr);
        padding-left: 100px;
        padding-right: 100px;
    }

    .grid-quarters {
        grid-template-columns: 1fr 1fr;
    }

    .property-card{
        transform: scale(0.9);
    }
}
